<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="{{ site.baseurl }}">Home</a></li>
		        	<li><a href="{{ site.baseurl }}/about">O mnie</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://twitter.com/annkamsk">kontakt</a></li>
	        		<li><a href="https://github.com/annkamsk">github.com/annkamsk</a></li>
				</ul>
			</footer>
		</body>
	</html>
